textarea {
    min-height: 400px;
}

.email-div {
    border-style: solid;
    border-color: white;
    margin-bottom: 5px;
}
.email-div:hover {
    border-color: blue;
}

.timestamp {
    float: right;
    text-align: right;
}


